.App{
  display: flex;
  text-align: center;
  justify-content:center;
  align-items: center;
  margin:40px;
}

*{
  background-color:rgb(174, 200, 234);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #98b3e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-muted{
  font-weight: bold;
  font-size: 25px;
}
.mb-5{
  margin-top: 0px;
}

.red:hover{
  background-color: red;
}
.green:hover{

  background-color:green;
}
.lightgreen:hover{
  color:black;
  background-color:lightgreen;
}
.yellow:hover{
  color:black;
  background-color:yellow;

}
tr{
   padding: 20px;
}
td{
   padding: 20px;
}
